<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>

<head>
    <title>Grocery Store a Ecommerce Online Shopping Category Flat Bootstrap Responsive Website Template | Bread & Bakery :: w3layouts</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Grocery Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //for-mobile-apps -->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- font-awesome icons -->
    <link href="css/font-awesome.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //font-awesome icons -->
    <!-- js -->
    <script src="js/jquery-1.11.1.min.js"></script>
    <!-- //js -->
    <link href='//fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
</head>

<body>

    <% include elements/header %>

        <div class="products-breadcrumb">
            <div class="container">
                <ul>
                    <li><i class="fa fa-home" aria-hidden="true"></i><a href="index">Home</a><span>|</span></li>
                    <li>Bread & Bakery</li>
                </ul>
            </div>
        </div>
        <% include elements/leftbanner %>

            <% include elements/banner %>

                <div class="w3l_banner_nav_right">
                    <div class="w3l_banner_nav_right_banner8">
                        <h3>Best Deals For New Products<span class="blink_me"></span></h3>
                    </div>
                    <div class="w3ls_w3l_banner_nav_right_grid w3ls_w3l_banner_nav_right_grid_sub">
                        <h3 class="w3l_fruit">Bread & Bakery</h3>
                        <div class="w3ls_w3l_banner_nav_right_grid1 w3ls_w3l_banner_nav_right_grid1_veg">
                            <% for (var i =0; i < data.length;  i++ ) { %>
                                <div class="col-md-3 w3ls_w3l_banner_left">
                                    <div class="hover14 column">
                                        <div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
                                            <div class="agile_top_brand_left_grid_pos">
                                                <img src="images/offer.png" alt=" " class="img-responsive" />
                                            </div>
                                            <div class="agile_top_brand_left_grid1">
                                                <figure>
                                                    <div class="snipcart-item block">
                                                        <div class="snipcart-thumb">
                                                            <form action="/single" method="post">
                                                                <input type="hidden" name="id" value="<%= data[i]._id %>" />
                                                                <input type="submit" value="Xem" title="Xem chi tiết">
                                                                <img src="images/<%= data[i].image %>.png" alt=" " class="img-responsive" />
                                                            </form>
                                                            <p>
                                                                <%= data[i].name %>
                                                            </p>
                                                            <h4>
                                                                <%= data[i].price %>
                                                            </h4>
                                                        </div>
                                                        <div class="snipcart-details">
                                                            <form action="#" method="post">
                                                                <fieldset>
                                                                    <input type="hidden" name="cmd" value="_cart" />
                                                                    <input type="hidden" name="add" value="1" />
                                                                    <input type="hidden" name="business" value=" " />
                                                                    <input type="hidden" name="item_name" value="<%= data[i].name %>" />
                                                                    <input type="hidden" name="amount" value="<%= data[i].price %>" />
                                                                    <input type="hidden" name="discount_amount" value="0đ" />
                                                                    <input type="hidden" name="currency_code" value="dong" />
                                                                    <input type="hidden" name="return" value=" " />
                                                                    <input type="hidden" name="cancel_return" value=" " />
                                                                    <input type="submit" name="submit" value="Add to cart" class="button" />
                                                                </fieldset>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% } %>

                        </div>

                        <div class="clearfix"> </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"></div>
                </div>

                <% include elements/newletter %>

                    <!-- //newsletter -->
                    <!-- footer -->
                    <% include elements/footer %>
                        <!-- //footer -->
                        <!-- Bootstrap Core JavaScript -->
                        <script src="js/bootstrap.min.js"></script>
                        <script>
                            $(document).ready(function() {
                                $(".dropdown").hover(
                                    function() {
                                        $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                                        $(this).toggleClass('open');
                                    },
                                    function() {
                                        $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                                        $(this).toggleClass('open');
                                    }
                                );
                            });
                        </script>
                        <!-- here stars scrolling icon -->
                        <script type="text/javascript">
                            $(document).ready(function() {
                                /*
                                	var defaults = {
                                	containerID: 'toTop', // fading element id
                                	containerHoverID: 'toTopHover', // fading element hover id
                                	scrollSpeed: 1200,
                                	easingType: 'linear' 
                                	};
                                */

                                $().UItoTop({
                                    easingType: 'easeOutQuart'
                                });

                            });
                        </script>
                        <!-- //here ends scrolling icon -->
                        <!-- <script src="js/minicart.js"></script>
            <script>
                paypal.minicart.render();

                paypal.minicart.cart.on('checkout', function(evt) {
                    var items = this.items(),
                        len = items.length,
                        total = 0,
                        i;

                    // Count the number of each item in the cart
                    for (i = 0; i < len; i++) {
                        total += items[i].get('quantity');
                    }

                    if (total < 3) {
                        alert('The minimum order quantity is 3. Please add more to your shopping cart before checking out');
                        evt.preventDefault();
                    }
                });
            </script> -->
</body>

</html>